In [34]:
from collections import Counter, defaultdict

import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("data.csv")

In [350]:
df.head()

   year       name gender  count   clean_name
0  1880       Mary      F   7065       ^mary$
1  1880       Anna      F   2604       ^anna$
2  1880       Emma      F   2003       ^emma$
3  1880  Elizabeth      F   1939  ^elizabeth$
4  1880     Minnie      F   1746     ^minnie$

In [6]:
df.shape

(2085158, 4)

In [352]:
df["clean_name"] = '^' + df.name.str.lower() + '$'

In [355]:
df.head()

   year       name gender  count   clean_name
0  1880       Mary      F   7065       ^mary$
1  1880       Anna      F   2604       ^anna$
2  1880       Emma      F   2003       ^emma$
3  1880  Elizabeth      F   1939  ^elizabeth$
4  1880     Minnie      F   1746     ^minnie$

In [356]:
df.tail()

         year     name gender  count clean_name
2085153  2022   Zuberi      M      5   ^zuberi$
2085154  2022     Zydn      M      5     ^zydn$
2085155  2022    Zylon      M      5    ^zylon$
2085156  2022   Zymeer      M      5   ^zymeer$
2085157  2022  Zymeire      M      5  ^zymeire$

In [212]:
small = df[(df.year > 2010) & (df.gender == "M")]

/var/folders/cl/fznbk4y92kx20wq2kwhp3x4h0000gn/T/ipykernel_78439/1896021809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small["clean_name"] = '^' + small.name.str.lower() + '$'

In [213]:
small.shape

(169781, 5)

In [187]:
small.head()

   year       name gender  count   clean_name
0  1880       Mary      F   7065       ^mary$
1  1880       Anna      F   2604       ^anna$
2  1880       Emma      F   2003       ^emma$
3  1880  Elizabeth      F   1939  ^elizabeth$
4  1880     Minnie      F   1746     ^minnie$

In [25]:
def get_name_transition_probs(name):
    return Counter((name[i], name[i+1]) for i in range(len(name) - 1))

In [29]:
def get_n_grams(text, n):
    """
    Returns a list of n-grams from a text.
    """
    n_grams = []
    for i in range(len(text) - n + 1):
        n_grams.append(text[i:i + n])
    return n_grams

In [31]:
get_n_grams("^baba$", 2)

['^b', 'ba', 'ab', 'ba', 'a$']

In [335]:
class TransitionCount(defaultdict):
    def __init__(self, *args, **kwargs):
        super(TransitionCount, self).__init__(Counter, *args, **kwargs)
        # super(*args, **kwargs)

    def __add__(self, other):
        all_keys = self.keys() | other.keys()
        return TransitionCount({k: self[k] + other[k] for k in all_keys})
    
    def __mul__(self, scalar):
        new = TransitionCount()
        for k in self.keys():
            for k2 in self[k].keys():
                new[k][k2] = self[k][k2] * scalar
        return new

In [357]:
def get_transition_counts(text):
    out_dict = TransitionCount()
    for i in range(len(text) - 1):
        out_dict[text[i]][text[i + 1]] += 1
    return out_dict

def get_transition_counts2(text):
    out_dict = TransitionCount()
    for i in range(len(text) - 2):
        out_dict[text[i:i+2]][text[i + 2]] += 1
    return out_dict

def get_transition_countsN(text, n):
    out_dict = TransitionCount()
    for i in range(len(text) - n):
        out_dict[text[i:i+n]][text[i + n]] += 1
    return out_dict

In [82]:
get_transition_counts("^babc$")

TransitionCount(collections.Counter,
                {'^': Counter({'b': 1}),
                 'b': Counter({'a': 1, 'c': 1}),
                 'a': Counter({'b': 1}),
                 'c': Counter({'$': 1})})

In [84]:
get_transition_counts("mary") + get_transition_counts("mom")

TransitionCount(collections.Counter,
                {'m': Counter({'a': 1, 'o': 1}),
                 'a': Counter({'r': 1}),
                 'r': Counter({'y': 1}),
                 'o': Counter({'m': 1})})

In [85]:
get_transition_counts("mary") * 10

TransitionCount(collections.Counter,
                {'m': Counter({'a': 10}),
                 'a': Counter({'r': 10}),
                 'r': Counter({'y': 10})})

In [97]:
cnts = [get_transition_counts(c) * freq for c, freq in zip(small.clean_name, small["count"])]

In [98]:
cnts[1]

TransitionCount(collections.Counter,
                {'^': Counter({'a': 2604}),
                 'a': Counter({'n': 2604, '$': 2604}),
                 'n': Counter({'n': 2604, 'a': 2604})})

In [100]:
all_transition_counts = sum(cnts, start=TransitionCount())

In [101]:
all_transition_counts["c"]

Counter({'e': 2937082,
         'h': 2425822,
         'a': 1354325,
         'i': 972175,
         'l': 955181,
         'k': 584719,
         'o': 449505,
         'y': 381564,
         't': 111253,
         'q': 69085,
         'u': 65416,
         '$': 62094,
         'c': 53569,
         'r': 23134,
         'd': 357,
         'z': 159,
         'n': 59})

In [102]:
def normalize_transition_count_inplace(transition_count):
    """
    This function normalizes the transition count dictionary by dividing each
    count by the total count for the first word in the transition.
    """
    for letter, next_letters in transition_count.items():
        total_count = sum(next_letters.values())
        for l in next_letters:
            next_letters[l] /= total_count

In [296]:
def create_transition_probs(transition_count):
    """
    This function normalizes the transition count dictionary by dividing each
    count by the total count for the first word in the transition.
    """
    new_tc = TransitionCount()
    for ngram, next_letters in transition_count.items():
        total_count = sum(next_letters.values())
        for l in next_letters:
            new_tc[ngram][l] = transition_count[ngram][l] / total_count
    return new_tc

In [214]:
all_transition_counts2 = sum((get_transition_counts2(c) * freq 
                             for c, freq in zip(small.clean_name, small["count"]))
                            , start=TransitionCount())

In [215]:
all_transition_counts2["ch"]

Counter({'a': 465688,
         'r': 203262,
         'o': 76707,
         'e': 51003,
         'i': 43551,
         '$': 11427,
         'l': 7625,
         'u': 2401,
         'm': 761,
         'y': 434,
         'n': 201,
         't': 41,
         's': 5})

In [216]:
normalize_transition_count(all_transition_counts2)

In [217]:
generate_name(all_transition_counts2, 2)

ValueError: 'a' cannot be empty unless no samples are taken

In [198]:
import random

In [219]:
start_states = [k for k in all_transition_counts2.keys() if k[0] == '^']

In [263]:
n=2
# name = "^j"
name = random.choice(start_states)
while name[-1] != "$":
    next_char = np.random.choice(list(all_transition_counts2[name[-n:]].keys()),
                                    p=list(all_transition_counts2[name[-n:]].values()))
    name += next_char
# return name[1:-1]
print(name[1].upper() + name[2:-1])

Briffraylaco

In [359]:
df.shape

(2085158, 5)

In [404]:
df["count_obj"] = df["clean_name"].apply(get_transition_counts2)

In [405]:
df.head()

,year,name,gender,count,clean_name,count_obj
0,1880,Mary,F,7065,^mary$,"{'^m': {'a': 1}, 'ma': {'r': 1}, 'ar': {'y': 1..."
1,1880,Anna,F,2604,^anna$,"{'^a': {'n': 1}, 'an': {'n': 1}, 'nn': {'a': 1..."
2,1880,Emma,F,2003,^emma$,"{'^e': {'m': 1}, 'em': {'m': 1}, 'mm': {'a': 1..."
3,1880,Elizabeth,F,1939,^elizabeth$,"{'^e': {'l': 1}, 'el': {'i': 1}, 'li': {'z': 1..."
4,1880,Minnie,F,1746,^minnie$,"{'^m': {'i': 1}, 'mi': {'n': 1}, 'in': {'n': 1..."

In [406]:
df.tail()

,year,name,gender,count,clean_name,count_obj
2085153,2022,Zuberi,M,5,^zuberi$,"{'^z': {'u': 1}, 'zu': {'b': 1}, 'ub': {'e': 1..."
2085154,2022,Zydn,M,5,^zydn$,"{'^z': {'y': 1}, 'zy': {'d': 1}, 'yd': {'n': 1..."
2085155,2022,Zylon,M,5,^zylon$,"{'^z': {'y': 1}, 'zy': {'l': 1}, 'yl': {'o': 1..."
2085156,2022,Zymeer,M,5,^zymeer$,"{'^z': {'y': 1}, 'zy': {'m': 1}, 'ym': {'e': 1..."
2085157,2022,Zymeire,M,5,^zymeire$,"{'^z': {'y': 1}, 'zy': {'m': 1}, 'ym': {'e': 1..."

In [407]:
summarized = df.groupby(["gender", "year"]).count_obj.sum()

In [408]:
summarized.head()

gender  year
F       1880    {'ur': {'a': 2, 'i': 2, 'e': 2, 'o': 1, '$': 1...
        1881    {'ur': {'a': 3, 'i': 2, 'e': 2, 'o': 1, 't': 1...
        1882    {'nu': {'e': 1}, 'uc': {'y': 1, 'i': 7, 'r': 1...
        1883    {'nu': {'e': 1}, 'uc': {'y': 1, 'i': 6, 'r': 1...
        1884    {'nu': {'e': 1}, 'uc': {'y': 1, 'i': 6, 'r': 1...
Name: count_obj, dtype: object

In [409]:
summarized.tail()

gender  year
M       2018    {'kc': {'$': 1}, 'nu': {'e': 19, 's': 8, '$': ...
        2019    {'kc': {'$': 1, 'e': 1}, 'nu': {'e': 18, '$': ...
        2020    {'kc': {'$': 1}, 'nu': {'e': 18, '$': 4, 's': ...
        2021    {'kc': {'$': 1}, 'nu': {'e': 16, '$': 8, 's': ...
        2022    {'kc': {'$': 1}, 'nu': {'e': 16, '$': 8, 's': ...
Name: count_obj, dtype: object

In [410]:
summarized = summarized.reset_index()

In [418]:
summarized.head()

  gender  year                                          count_obj
0      F  1880  {'ur': {'a': 2, 'i': 2, 'e': 2, 'o': 1, '$': 1...
1      F  1881  {'ur': {'a': 3, 'i': 2, 'e': 2, 'o': 1, 't': 1...
2      F  1882  {'nu': {'e': 1}, 'uc': {'y': 1, 'i': 7, 'r': 1...
3      F  1883  {'nu': {'e': 1}, 'uc': {'y': 1, 'i': 6, 'r': 1...
4      F  1884  {'nu': {'e': 1}, 'uc': {'y': 1, 'i': 6, 'r': 1...

In [420]:
summarized_saved = summarized.copy()

AttributeError: 'DataFrame' object has no attribute 'deepcopy'

In [422]:
id(summarized_saved.iloc[0].count_obj)

29135662896

In [426]:
summarized_saved["count_obj"] = [dict(c) for c in summarized_saved["count_obj"]]

In [416]:
!ls -lh

total 100976
-rw-r--r--  1 chris  staff    36M Jul 27 14:33 data.csv
-rw-r--r--  1 chris  staff   1.4K Jul 27 14:34 download_data.py
-rw-r--r--  1 chris  staff     0B Jul 27 14:28 generate_names_ngram.py
-rw-r--r--  1 chris  staff   644K Jul 27 21:09 namegen_2grams.pkl
-rw-r--r--  1 chris  staff   5.4M Jul 28 13:14 namegen_3grams.pkl
-rw-r--r--  1 chris  staff    12K Jul 27 15:00 namegen_ngrams.ipynb
-rw-r--r--  1 chris  staff   3.7K Jul 27 16:08 namegen_ngrams.py
-rw-r--r--  1 chris  staff   7.1M Jul 27 14:33 names.zip

In [427]:
summarized_saved.to_pickle('namegen_3grams.pkl')

In [428]:
import pickle
with open('namegen_3grams.pkl', 'rb') as f:
    ngrams = pickle.load(f)

In [429]:
foo = ngrams.iloc[0].count_obj

In [430]:
foo

{'ur': Counter({'a': 2, 'i': 2, 'e': 2, 'o': 1, '$': 1, 's': 1}),
 'dy': Counter({'$': 2, 't': 2, 's': 1}),
 '^j': Counter({'e': 13, 'o': 13, 'u': 9, 'a': 6, 'i': 1}),
 'gw': Counter({'e': 1}),
 'nn': Counter({'i': 23, 'a': 20, 'e': 11, '$': 4, 'y': 2}),
 'nu': Counter({'e': 1}),
 'eo': Counter({'r': 7, 'n': 4, 'l': 3, '$': 3, 'd': 2, 't': 1}),
 'ph': Counter({'i': 7, 'e': 3, 'a': 3, 'o': 1, 'r': 1, '$': 1, 'y': 1}),
 'ro': Counter({'s': 12,
          'n': 6,
          'l': 4,
          'b': 3,
          't': 2,
          'x': 2,
          'w': 1,
          'r': 1,
          'e': 1}),
 'el': Counter({'l': 42,
          'i': 39,
          'e': 13,
          'm': 11,
          '$': 9,
          'a': 6,
          'v': 5,
          'd': 3,
          's': 2,
          'y': 2,
          'o': 2,
          'p': 2,
          'n': 1}),
 'uc': Counter({'i': 7, 'y': 1, 'r': 1}),
 'dd': Counter({'i': 5, 'a': 1}),
 'on': Counter({'a': 12,
          'i': 11,
          'n': 6,
          '$': 3,
          'o': 2,
          'e': 2,
          's': 1,
          'c': 1}),
 'dr': Counter({'u': 2, 'e': 1, 'i': 1}),
 'av': Counter({'i': 4, 'a': 2, 'e': 1, 'o': 1}),
 'la': Counter({'$': 59,
          'r': 9,
          'u': 6,
          'i': 4,
          'v': 4,
          'n': 3,
          'h': 3,
          'd': 1,
          'l': 1,
          's': 1,
          'c': 1}),
 'ub': Counter({'y': 1}),
 'ck': Counter({'y': 1}),
 'ya': Counter({'n': 1}),
 'da': Counter({'$': 43, 'l': 5, 'i': 3, 'h': 2}),
 'vo': Counter({'n': 1}),
 'us': Counter({'i': 2, 'a': 2, 't': 2, 's': 1}),
 'rm': Counter({'a': 3, 'i': 2, 'e': 1}),
 'th': Counter({'e': 18,
          'a': 13,
          '$': 8,
          'r': 4,
          'i': 4,
          'y': 2,
          'u': 2,
          'l': 1,
          'o': 1}),
 'ad': Counter({'e': 9,
          'a': 8,
          'i': 3,
          'd': 3,
          'o': 2,
          'g': 1,
          'y': 1,
          'l': 1,
          'r': 1}),
 'ou': Counter({'i': 4, 'e': 2, '$': 1, 'r': 1, 'v': 1, 'l': 1}),
 'rt': Counter({'i': 10, 'h': 5, 'a': 5, 'r': 1, 'l': 1, 'e': 1, '$': 1}),
 'an': Counter({'n': 32,
          '$': 8,
          'c': 7,
          'a': 7,
          'e': 6,
          'i': 5,
          'd': 4,
          'g': 4,
          'o': 3,
          't': 3,
          'k': 2,
          's': 1,
          'u': 1}),
 'ia': Counter({'$': 68, 'n': 8, 'm': 2, 'h': 1}),
 'vy': Counter({'$': 1}),
 'ta': Counter({'$': 39, 'v': 1, 'n': 1, 's': 1, 'b': 1, 'l': 1}),
 'by': Counter({'$': 2, 'r': 1, 'l': 1}),
 'ns': Counter({'t': 1, 'e': 1, 'y': 1}),
 'if': Counter({'r': 2, 'f': 1}),
 'az': Counter({'e': 1, 'i': 1}),
 'yc': Counter({'e': 2}),
 'ex': Counter({'a': 1}),
 'ee': Counter({'$': 6, 'n': 4}),
 'au': Counter({'d': 7, 'r': 4, 'l': 3, 'g': 2}),
 'nk': Counter({'i': 2, '$': 1, 'e': 1}),
 'er': Counter({'t': 13,
          '$': 9,
          'n': 7,
          'e': 6,
          'i': 5,
          'v': 4,
          'a': 3,
          'm': 3,
          'y': 3,
          'o': 2,
          'd': 1,
          'r': 1,
          'c': 1,
          'l': 1}),
 'zu': Counter({'l': 1}),
 'nt': Counter({'a': 3, 'h': 2, 'o': 2, 'i': 2, '$': 1}),
 'rg': Counter({'i': 8, 'a': 5, 'e': 3, 'u': 1, 'r': 1}),
 'mm': Counter({'i': 6, 'a': 3, 'e': 1}),
 'it': Counter({'h': 5, 't': 4, 'a': 4, 'e': 1, 'y': 1, 'i': 1}),
 'lo': Counter({'r': 9,
          'u': 9,
          't': 5,
          'v': 4,
          'm': 3,
          'l': 2,
          'i': 2,
          'n': 2,
          's': 1,
          'y': 1,
          'e': 1,
          'p': 1}),
 'fl': Counter({'o': 6}),
 'hy': Counter({'l': 2, '$': 1}),
 '^i': Counter({'s': 6,
          'r': 5,
          'n': 5,
          'd': 3,
          'v': 3,
          'o': 3,
          'l': 1,
          'm': 1,
          'z': 1,
          'c': 1}),
 'nr': Counter({'i': 1, 'y': 1}),
 'sl': Counter({'i': 1}),
 '^y': Counter({'e': 1}),
 'ov': Counter({'i': 4, 'e': 2}),
 'zo': Counter({'r': 2, 'n': 2, 'e': 1, 'a': 1, 'l': 1}),
 'yl': Counter({'$': 3, 'v': 1, 'l': 1}),
 'eg': Counter({'i': 1, 'g': 1}),
 'te': Counter({'$': 12, 'l': 6, 'r': 6, 'n': 5, 's': 1, 'm': 1, 'x': 1}),
 'es': Counter({'s': 17, 't': 11, '$': 6, 'a': 2, 'e': 1, 'l': 1}),
 'nc': Counter({'e': 8, 'h': 2, 'y': 1, 'i': 1}),
 'rn': Counter({'a': 3, 'e': 2, 'i': 2, '$': 1}),
 'rd': Counter({'i': 4, 'e': 4, '$': 3, 'a': 1}),
 'hr': Counter({'i': 5, 'y': 2, 'o': 1}),
 'ha': Counter({'$': 15,
          'r': 10,
          'n': 4,
          'l': 3,
          't': 1,
          'z': 1,
          'e': 1,
          's': 1}),
 'ei': Counter({'l': 1, 't': 1}),
 'ng': Counter({'e': 3, 'i': 1, 'a': 1}),
 'ul': Counter({'a': 11, 'i': 6, 'd': 2, 'u': 1}),
 'ma': Counter({'r': 24,
          '$': 18,
          'n': 8,
          'l': 6,
          't': 5,
          'g': 5,
          'y': 5,
          'd': 4,
          'u': 3,
          'b': 3,
          'm': 3,
          'h': 2,
          'e': 1,
          'z': 1,
          's': 1,
          'i': 1}),
 'im': Counter({'m': 1, 'e': 1, 'o': 1, 'a': 1}),
 'wi': Counter({'l': 7, 'n': 4, 'g': 1}),
 'ib': Counter({'b': 1, 'y': 1}),
 'gd': Counter({'a': 3}),
 'iv': Counter({'a': 3, 'i': 2, 'e': 1, 'y': 1}),
 'oa': Counter({'n': 2, '$': 1}),
 'ce': Counter({'$': 14, 'l': 7, 'c': 4, 's': 1, 'n': 1, 'd': 1, 'p': 1}),
 'ci': Counter({'l': 7, 'a': 5, 'e': 4, 'n': 3, 's': 1, 'o': 1}),
 'rb': Counter({'a': 1}),
 'oc': Counter({'i': 2, 't': 1}),
 'co': Counter({'r': 11, 'n': 3}),
 'si': Counter({'e': 23, 'a': 3, 'n': 2, 'd': 1, 'l': 1, 'c': 1, 'b': 1}),
 'ri': Counter({'e': 15,
          'n': 10,
          's': 7,
          'a': 5,
          't': 4,
          'l': 4,
          'c': 3,
          'd': 2,
          'o': 1,
          '$': 1,
          'z': 1}),
 'su': Counter({'s': 3, 'e': 1, 'd': 1, 'l': 1, 'z': 1}),
 'ge': Counter({'n': 8, 'o': 6, 'r': 5, 'l': 3, '$': 2, 't': 1}),
 'bo': Counter({'n': 1, 'r': 1}),
 'od': Counter({'a': 2, 'e': 2, 'o': 2}),
 '^s': Counter({'a': 13,
          'u': 7,
          'e': 5,
          'o': 3,
          'i': 3,
          'y': 2,
          't': 1,
          'h': 1}),
 'oy': Counter({'$': 1}),
 'ed': Counter({'a': 7,
          '$': 4,
          'i': 2,
          'n': 2,
          'y': 2,
          'd': 2,
          'm': 1,
          'w': 1,
          'e': 1,
          'g': 1}),
 'rr': Counter({'i': 7, 'y': 2, 'a': 1}),
 'lt': Counter({'h': 2, 'a': 1, 'e': 1}),
 'ow': Counter({'e': 1}),
 'ts': Counter({'y': 2}),
 'rh': Counter({'o': 1}),
 'hu': Counter({'l': 2, 'r': 2}),
 'ox': Counter({'i': 1, 'a': 1}),
 'ud': Counter({'i': 7, 'e': 4, '$': 1, 'o': 1, 'y': 1}),
 'gr': Counter({'a': 4, 'e': 1}),
 'zi': Counter({'e': 3, 'l': 1}),
 'sh': Counter({'i': 4, 'a': 1}),
 'bb': Counter({'i': 4, 'y': 1}),
 'ir': Counter({'e': 4,
          'a': 4,
          'g': 2,
          'd': 2,
          'i': 2,
          't': 2,
          'm': 1,
          'l': 1,
          '$': 1}),
 'go': Counter({'l': 2}),
 'je': Counter({'a': 4, 'n': 3, 's': 3, 'w': 2, 't': 1}),
 'or': Counter({'a': 24,
          'e': 7,
          'i': 7,
          'g': 6,
          'd': 6,
          '$': 2,
          'o': 2,
          'r': 2,
          'n': 1,
          'm': 1,
          'p': 1,
          't': 1,
          'c': 1}),
 'ba': Counter({'r': 2, '$': 2, 'm': 1}),
 'rp': Counter({'h': 1}),
 'jo': Counter({'s': 5, 'h': 4, 'a': 2, 'e': 2, 'r': 1}),
 'io': Counter({'n': 4, 'l': 3}),
 'fr': Counter({'e': 5, 'a': 4, 'o': 3, 'i': 1}),
 'ut': Counter({'h': 2, 'i': 1}),
 'il': Counter({'l': 25,
          'd': 7,
          'i': 6,
          'a': 5,
          'e': 3,
          'y': 2,
          'h': 2,
          '$': 2,
          'm': 2,
          'o': 1,
          'p': 1}),
 'ch': Counter({'a': 5, 'e': 3, 'r': 3, '$': 1, 'l': 1}),
 'pa': Counter({'t': 4, 'u': 3, 'r': 2, 'n': 1, 'l': 1}),
 'ld': Counter({'a': 11, 'i': 2, 'r': 1, 'o': 1, 'e': 1}),
 'en': Counter({'a': 25,
          'n': 12,
          'i': 10,
          'e': 8,
          '$': 6,
          'c': 4,
          'o': 3,
          'r': 2,
          't': 2,
          's': 1,
          'd': 1}),
 'di': Counter({'e': 16, 'a': 7, 'n': 4, 't': 2, 'x': 1, 'c': 1, 'l': 1}),
 'hn': Counter({'$': 1, 'n': 1}),
 'nd': Counter({'a': 10, 'i': 2, 'y': 1, 'o': 1}),
 'ep': Counter({'h': 3, 'p': 1, 'c': 1}),
 'do': Counter({'r': 10, 'l': 4, 'n': 4, 's': 4, 'v': 2, 'c': 1}),
 'no': Counter({'r': 13, 'n': 4, 'l': 4}),
 'ot': Counter({'t': 8, 'h': 2, 'a': 1, 'e': 1}),
 'ui': Counter({'s': 3, 'e': 1}),
 'ug': Counter({'e': 3, 'u': 2}),
 'ue': Counter({'l': 3, '$': 2, 'e': 2, 'r': 1, 't': 1}),
 'un': Counter({'i': 2, 'a': 2, 'e': 1}),
 '^q': Counter({'u': 2}),
 'in': Counter({'e': 38,
          'a': 33,
          'd': 9,
          'n': 8,
          't': 4,
          'i': 3,
          'k': 2,
          'o': 2,
          'g': 1}),
 'tl': Counter({'e': 1}),
 'br': Counter({'i': 1, 'a': 1}),
 'lv': Counter({'i': 6, 'a': 3, 'e': 2}),
 'he': Counter({'l': 11,
          'r': 8,
          'n': 3,
          'a': 3,
          'o': 3,
          '$': 2,
          's': 2,
          'd': 2,
          't': 1,
          'b': 1,
          'm': 1}),
 'ab': Counter({'e': 10, 'i': 3, 'b': 2, 'l': 1, 'r': 1}),
 'rc': Counter({'e': 2, 'a': 1, 'i': 1}),
 'wa': Counter({'n': 1, 'l': 1}),
 'dl': Counter({'i': 1}),
 'rs': Counter({'a': 1}),
 'dn': Counter({'a': 2, 'e': 1}),
 'ki': Counter({'t': 2, 'e': 2, 'z': 1}),
 'qu': Counter({'e': 2}),
 'fe': Counter({'r': 1, 'l': 1}),
 'we': Counter({'l': 2, 'n': 2}),
 'ef': Counter({'f': 2}),
 'xi': Counter({'e': 2}),
 'em': Counter({'m': 6, 'i': 5, 'e': 4, 'p': 1}),
 '^w': Counter({'i': 11, 'a': 2}),
 'za': Counter({'$': 2, 'b': 1, 'd': 1, 'n': 1}),
 'ni': Counter({'e': 35, 'a': 12, 'c': 4, 'f': 2, 't': 2, 'n': 1, 's': 1}),
 '^b': Counter({'e': 20,
          'i': 4,
          'l': 2,
          'a': 2,
          'r': 1,
          'o': 1,
          'y': 1,
          'u': 1}),
 'ez': Counter({'$': 1}),
 'ze': Counter({'l': 5, 'b': 1, 't': 1, 'n': 1}),
 'og': Counter({'e': 1}),
 'ff': Counter({'i': 1, 'a': 1, 'o': 1}),
 'yn': Counter({'$': 7, 't': 1, 'e': 1, 'n': 1}),
 'rj': Counter({'o': 1}),
 'fi': Counter({'e': 1, 'd': 1}),
 'ev': Counter({'a': 7, 'e': 4, 'i': 2}),
 '^c': Counter({'l': 20,
          'a': 17,
          'o': 14,
          'h': 9,
          'e': 9,
          'y': 1,
          'i': 1,
          'r': 1}),
 'ic': Counter({'e': 6, 'a': 4, 'i': 2, 't': 1, 'y': 1}),
 'yd': Counter({'a': 2, 'i': 1, 'e': 1}),
 'lg': Counter({'a': 1}),
 'ix': Counter({'i': 1}),
 'oz': Counter({'e': 1}),
 'ke': Counter({'y': 1}),
 'mp': Counter({'i': 1}),
 '^m': Counter({'a': 67, 'i': 16, 'e': 14, 'o': 5, 'y': 4, 'u': 1}),
 'ey': Counter({'$': 6}),
 'dw': Counter({'i': 1}),
 'ty': Counter({'$': 6}),
 'to': Counter({'r': 1, 'i': 1, 'n': 1, 'm': 1}),
 'ne': Counter({'$': 48,
          't': 10,
          'l': 7,
          'r': 5,
          'v': 4,
          's': 3,
          'y': 2,
          'z': 1,
          'n': 1,
          'p': 1,
          'a': 1}),
 'tt': Counter({'i': 18, 'a': 18, 'e': 11, 'y': 4, '$': 2}),
 'ao': Counter({'m': 1}),
 'oi': Counter({'s': 2, 'n': 1}),
 'ie': Counter({'$': 183, 't': 6, 'n': 2, 'v': 1, 'd': 1, 'p': 1, 'l': 1}),
 'ag': Counter({'d': 3, 'n': 2, 'g': 1, 'a': 1}),
 'oh': Counter({'a': 2, 'n': 2}),
 'ua': Counter({'n': 2, 'd': 1}),
 '^k': Counter({'a': 11, 'i': 3}),
 'ec': Counter({'i': 3, 'c': 1, 'e': 1, 'k': 1, 't': 1}),
 'cc': Counter({'a': 1}),
 'gi': Counter({'e': 5, 'n': 4, 'a': 3}),
 'ho': Counter({'d': 1, 'e': 1, 'r': 1, 'p': 1, 'm': 1, 'n': 1}),
 'ai': Counter({'s': 3,
          'r': 2,
          'l': 2,
          'd': 1,
          'm': 1,
          't': 1,
          '$': 1,
          'n': 1}),
 'at': Counter({'h': 14,
          't': 5,
          'i': 4,
          'e': 1,
          'r': 1,
          's': 1,
          'y': 1,
          'a': 1}),
 'ss': Counter({'i': 17, 'a': 7, 'e': 3, '$': 1, 'o': 1}),
 'gu': Counter({'s': 3, 'e': 1, 'a': 1}),
 'ky': Counter({'$': 1}),
 'eb': Counter({'e': 4, 'a': 1, 'o': 1, 'b': 1}),
 'mi': Counter({'n': 14,
          'e': 11,
          'l': 8,
          'r': 4,
          't': 1,
          '$': 1,
          's': 1,
          'a': 1,
          'm': 1,
          'g': 1}),
 're': Counter({'t': 11,
          'n': 9,
          's': 7,
          'd': 6,
          '$': 5,
          'b': 2,
          'l': 2,
          'g': 1,
          'y': 1,
          'o': 1}),
 'ys': Counter({'$': 2}),
 '^f': Counter({'r': 11, 'l': 6, 'a': 5, 'e': 2, 'i': 1}),
 '^a': Counter({'l': 24,
          'n': 19,
          'd': 15,
          'r': 11,
          'm': 7,
          'u': 4,
          'b': 3,
          'g': 2,
          'v': 2,
          'i': 2}),
 '^n': Counter({'e': 12, 'o': 8, 'a': 5, 'i': 1}),
 'po': Counter({'l': 2}),
 'mb': Counter({'e': 1}),
 'ln': Counter({'o': 1}),
 'ti': Counter({'e': 29, 'n': 10, 'l': 5, 'a': 3, 't': 1, 's': 1}),
 'ew': Counter({'e': 2}),
 'va': Counter({'$': 11, 'l': 4, 'n': 2, 'd': 2, 'h': 1}),
 'eu': Counter({'l': 3, 'g': 2, 'n': 1, 'd': 1, 'p': 1}),
 'le': Counter({'n': 18,
          '$': 17,
          'o': 9,
          'a': 8,
          't': 7,
          'e': 5,
          's': 5,
          'm': 4,
          'l': 3,
          'i': 2,
          'd': 1,
          'y': 1,
          'c': 1,
          'r': 1}),
 'xa': Counter({'n': 1, 's': 1}),
 'ae': Counter({'$': 2, 'l': 1}),
 'de': Counter({'l': 24, '$': 6, 's': 4, 'n': 2, 'b': 2, 't': 1, 'e': 1}),
 'ls': Counter({'i': 1, 'a': 1}),
 'fa': Counter({'n': 2, 'y': 2, '$': 1, 'i': 1}),
 'up': Counter({'h': 1, 'e': 1}),
 'rv': Counter({'i': 3, 'a': 2}),
 'ct': Counter({'a': 2, 'o': 1}),
 'am': Counter({'i': 5, 'a': 4, 'e': 4, '$': 2, 'm': 2, 'y': 1, 'b': 1}),
 'yr': Counter({'t': 3, 'a': 1, 'd': 1}),
 'na': Counter({'$': 96,
          'h': 5,
          'n': 3,
          'b': 2,
          'o': 1,
          's': 1,
          'd': 1,
          't': 1}),
 'yb': Counter({'e': 1, 'i': 1}),
 'fo': Counter({'r': 1}),
 'be': Counter({'r': 12,
          'l': 12,
          't': 6,
          's': 3,
          'c': 2,
          '$': 2,
          'n': 2,
          'u': 1,
          'a': 1}),
 'al': Counter({'i': 15,
          'l': 9,
          'e': 6,
          'b': 5,
          'v': 5,
          't': 4,
          'm': 3,
          'y': 3,
          'd': 2,
          'p': 1,
          'o': 1,
          'a': 1,
          'u': 1,
          '$': 1}),
 'gg': Counter({'i': 1, 'y': 1}),
 'so': Counter({'p': 3, 'u': 1}),
 'op': Counter({'h': 4, 'e': 2, 'a': 1}),
 'lp': Counter({'h': 4}),
 '^z': Counter({'e': 5, 'o': 5, 'u': 1, 'a': 1, 'i': 1}),
 'bi': Counter({'r': 4, 'e': 4, 'n': 2, 'g': 1, 't': 1, 'l': 1}),
 'zz': Counter({'i': 2}),
 '^e': Counter({'l': 31,
          'm': 10,
          'd': 9,
          't': 8,
          'v': 8,
          's': 7,
          'u': 7,
          'r': 5,
          'f': 2,
          'a': 1,
          'o': 1,
          'n': 1}),
 '^l': Counter({'e': 34, 'o': 25, 'i': 21, 'u': 20, 'a': 8, 'y': 3}),
 'tr': Counter({'e': 2, 'u': 1, 'i': 1}),
 'hl': Counter({'e': 1, 'o': 1}),
 'mu': Counter({'r': 1}),
 'lh': Counter({'e': 2}),
 '^u': Counter({'n': 1, 'l': 1}),
 'me': Counter({'l': 10,
          'r': 5,
          '$': 3,
          't': 3,
          'd': 3,
          'n': 3,
          's': 1,
          'e': 1}),
 'dg': Counter({'e': 2, 'a': 1}),
 'yt': Counter({'h': 2}),
 'ig': Counter({'a': 1, '$': 1, 'n': 1}),
 'is': Counter({'a': 10,
          '$': 9,
          's': 5,
          'e': 4,
          't': 3,
          'y': 1,
          'c': 1,
          'i': 1,
          'h': 1}),
 'ly': Counter({'$': 7, 'n': 6, 'd': 4, 'c': 1, 's': 1}),
 'os': Counter({'i': 7, 'e': 6, 'a': 6, 's': 3, 'h': 3}),
 'mo': Counter({'n': 3, 'l': 2, 'g': 1, 'z': 1}),
 'tn': Counter({'a': 1}),
 'iz': Counter({'a': 3, 'z': 2, 'o': 2, 'e': 1}),
 'gn': Counter({'o': 2, 'e': 1}),
 '^o': Counter({'l': 6,
          't': 4,
          'r': 3,
          'd': 3,
          's': 3,
          'p': 2,
          'c': 2,
          'n': 2,
          'm': 2}),
 'uz': Counter({'a': 1}),
 'st': Counter({'e': 7, 'i': 7, 'a': 5, 'h': 1}),
 'pc': Counter({'i': 1}),
 'li': Counter({'e': 34,
          'a': 30,
          'n': 24,
          'l': 11,
          's': 8,
          'z': 5,
          'd': 4,
          'c': 3,
          'v': 2,
          'b': 1,
          'f': 1,
          't': 1}),
 'bl': Counter({'a': 2, 'e': 1}),
 'ea': Counter({'n': 10, '$': 4, 'r': 3, 't': 2, 'h': 1, 's': 1, 'l': 1}),
 '^t': Counter({'h': 10, 'e': 9, 'i': 4, 'r': 2, 'o': 1, 'a': 1}),
 'pi': Counter({'n': 2, 'e': 2}),
 'gl': Counter({'e': 2, 'a': 1}),
 'll': Counter({'a': 36, 'i': 25, 'e': 12, '$': 7, 'y': 5}),
 '^d': Counter({'o': 18, 'e': 14, 'i': 5, 'a': 3, 'r': 2}),
 'gy': Counter({'$': 1}),
 'ra': Counter({'$': 36,
          'c': 5,
          'n': 5,
          'h': 3,
          'y': 2,
          'l': 2,
          'e': 1,
          'm': 1}),
 'pr': Counter({'i': 1, 'u': 1}),
 'ji': Counter({'m': 1}),
 'ry': Counter({'$': 5, 'n': 3, 'l': 1, 'a': 1}),
 'ca': Counter({'r': 8, '$': 5, 't': 3, 'l': 2, 's': 2, 'm': 2, 'd': 1}),
 'et': Counter({'t': 36, 'h': 8, '$': 8, 'a': 3, 'i': 2, 's': 1, 'n': 1}),
 'pp': Counter({'i': 1}),
 'cy': Counter({'$': 4, 'n': 1}),
 'as': Counter({'s': 3, '$': 3, 't': 2, 'i': 1}),
 'ru': Counter({'d': 2, 't': 2, 'b': 1, 's': 1, 'c': 1}),
 'ah': Counter({'$': 16, 'a': 2}),
 'sc': Counter({'i': 1}),
 'se': Counter({'$': 8,
          'l': 4,
          'p': 2,
          't': 1,
          'r': 1,
          'y': 1,
          'n': 1,
          'a': 1,
          'e': 1}),
 'rl': Counter({'e': 4, 'o': 3, '$': 1, 'i': 1}),
 'my': Counter({'r': 4, '$': 1}),
 'bu': Counter({'l': 1}),
 'ny': Counter({'$': 2}),
 'oe': Counter({'$': 3, 'b': 1, 'l': 1, 'n': 1}),
 '^g': Counter({'e': 13, 'r': 4, 'l': 3, 'u': 2, 'o': 2, 'i': 1, 'w': 1}),
 'ga': Counter({'r': 6, '$': 2, 't': 1, 'i': 1}),
 'pe': Counter({'a': 3, '$': 3, 'g': 1, 'r': 1, 'n': 1}),
 'sy': Counter({'$': 4, 'l': 1, 'b': 1}),
 'hi': Counter({'l': 5, 'a': 4, 'e': 4, 'n': 3, 'r': 1}),
 'ay': Counter({'$': 3, 'm': 2, 'e': 2, 'b': 1, 'c': 1}),
 've': Counter({'r': 8, 'n': 6, '$': 5, 'l': 3, 's': 1}),
 'cl': Counter({'a': 13, 'e': 4, 'y': 2, 'i': 1}),
 'ju': Counter({'l': 3, 'a': 2, 'n': 2, 'd': 2}),
 'lu': Counter({'c': 8,
          'l': 4,
          'e': 2,
          '$': 1,
          'r': 1,
          't': 1,
          'v': 1,
          'd': 1,
          'n': 1,
          'g': 1,
          'p': 1}),
 'lb': Counter({'e': 3, 'i': 1, 'a': 1}),
 'ob': Counter({'e': 2, 'b': 1}),
 '^h': Counter({'e': 11, 'a': 10, 'o': 3, 'i': 2, 'u': 2}),
 'ar': Counter({'i': 16,
          'g': 10,
          'e': 7,
          'a': 7,
          'r': 7,
          'l': 7,
          't': 5,
          'o': 4,
          '$': 4,
          'y': 2,
          'c': 2,
          'd': 2,
          'b': 1,
          'm': 1,
          'j': 1,
          'v': 1}),
 'ja': Counter({'n': 5, 'm': 1}),
 'om': Counter({'a': 3, 'i': 2, 'e': 2, 'm': 1}),
 'lm': Counter({'a': 9, 'i': 6, 'e': 1}),
 'dm': Counter({'o': 1}),
 '^p': Counter({'a': 10, 'e': 6, 'h': 4, 'o': 2, 'r': 2, 'i': 2}),
 'ye': Counter({'$': 2, 't': 1}),
 'cr': Counter({'e': 2}),
 'vi': Counter({'n': 10,
          'a': 6,
          'e': 4,
          'r': 3,
          'o': 2,
          'v': 2,
          's': 2,
          'c': 1,
          'd': 1,
          'l': 1}),
 'ol': Counter({'a': 9,
          'i': 8,
          'l': 8,
          'y': 2,
          'd': 2,
          'g': 1,
          'e': 1,
          'o': 1,
          '$': 1}),
 '^r': Counter({'o': 19, 'e': 8, 'a': 4, 'u': 3, 'i': 3, 'h': 1}),
 'ym': Counter({'e': 1, 'i': 1}),
 'uv': Counter({'e': 2}),
 'id': Counter({'a': 5, 'e': 4, 'g': 1, 'n': 1, 'd': 1, 'i': 1}),
 'ka': Counter({'t': 11}),
 '^v': Counter({'i': 11, 'e': 11, 'a': 3}),
 'ac': Counter({'h': 2, 'i': 2, 'e': 1, 'y': 1}),
 'sa': Counter({'$': 17,
          'b': 7,
          'l': 6,
          'n': 4,
          'd': 3,
          'r': 2,
          'm': 2,
          'v': 1})}

In [340]:
def get_starting_probs(transition_counts):
    """
    Returns a dictionary of starting probabilities.
    """
    start_states = [k for k in transition_counts.keys() if k[0] == '^']
    start_probs = {}
    for state in start_states:
        start_probs[state] = sum(transition_counts[state].values())
    total = sum(start_probs.values())
    for state in start_probs.keys():
        start_probs[state] /= total
    return start_probs

def generate_name(transition_counts):
    trnstn_probs = create_transition_probs(transition_counts)
    n = len(list(trnstn_probs.keys())[0])

    start_probs = get_starting_probs(transition_counts)
    name = np.random.choice(list(start_probs.keys()), p=list(start_probs.values()))
    while name[-1] != "$":
        next_char = np.random.choice(list(trnstn_probs[name[-n:]].keys()),
                                        p=list(trnstn_probs[name[-n:]].values()))
        name += next_char
    # return name[1:-1]
    return(name[1].upper() + name[2:-1])

In [433]:

generate_name(foo)

Maude

In [310]:
foo["^j"]

Counter({'o': 14, 'e': 13, 'u': 12, 'a': 6, 'i': 2})

In [383]:
summarized.shape

(286, 3)

In [402]:
row = foo.iloc[random.randint(0, len(summarized))]
print(row)
generate_name(row.count_obj)

IndexError: single positional indexer is out-of-bounds

In [436]:
foo = summarized.assign(decade = (summarized.year // 10) * 10).groupby(["gender", "decade"]).count_obj.sum().reset_index()

In [437]:
foo.head()

  gender  decade                                          count_obj
0      F    1880  {'nu': {'e': 12, 's': 3}, 'uc': {'y': 10, 'i':...
1      F    1890  {'nu': {'e': 18, 's': 10}, 'uc': {'y': 10, 'i'...
2      F    1900  {'nu': {'e': 19, 's': 10}, 'uc': {'y': 17, 'i'...
3      F    1910  {'nu': {'e': 31, 's': 12, 'n': 8}, 'uc': {'i':...
4      F    1920  {'nu': {'e': 46, 's': 14, 'k': 1, 'i': 4, 'n':...

In [435]:
summarized.head()

  gender  year                                          count_obj
0      F  1880  {'ur': {'a': 2, 'i': 2, 'e': 2, 'o': 1, '$': 1...
1      F  1881  {'ur': {'a': 3, 'i': 2, 'e': 2, 'o': 1, 't': 1...
2      F  1882  {'nu': {'e': 1}, 'uc': {'y': 1, 'i': 7, 'r': 1...
3      F  1883  {'nu': {'e': 1}, 'uc': {'y': 1, 'i': 6, 'r': 1...
4      F  1884  {'nu': {'e': 1}, 'uc': {'y': 1, 'i': 6, 'r': 1...

In [438]:
foo.shape

(30, 3)

In [439]:
foo.sort_values(["decade", "gender"])

   gender  decade                                          count_obj
0       F    1880  {'nu': {'e': 12, 's': 3}, 'uc': {'y': 10, 'i':...
15      M    1880  {'nu': {'e': 20, 't': 3, 's': 8}, 'av': {'i': ...
1       F    1890  {'nu': {'e': 18, 's': 10}, 'uc': {'y': 10, 'i'...
16      M    1890  {'nu': {'e': 21, 's': 10, 't': 4, 'g': 1, 'm':...
2       F    1900  {'nu': {'e': 19, 's': 10}, 'uc': {'y': 17, 'i'...
17      M    1900  {'nu': {'e': 23, 's': 11, 't': 1, 'n': 1, 'l':...
3       F    1910  {'nu': {'e': 31, 's': 12, 'n': 8}, 'uc': {'i':...
18      M    1910  {'nu': {'e': 38, 's': 52, 'a': 12, 'n': 11, 't...
4       F    1920  {'nu': {'e': 46, 's': 14, 'k': 1, 'i': 4, 'n':...
19      M    1920  {'nu': {'e': 48, 'n': 15, 's': 62, 'l': 12, 'a...
5       F    1930  {'nu': {'e': 39, 's': 12}, 'uc': {'i': 138, 'y...
20      M    1930  {'nu': {'e': 44, 'l': 11, 'n': 10, 's': 35, 'a...
6       F    1940  {'nu': {'e': 38, 's': 16, 'i': 1, 'a': 1}, 'uc...
21      M    1940  {'nu': {'e': 37, 's': 35, 'l': 11, 'a': 11, 'n...
7       F    1950  {'nu': {'e': 33, 's': 16, 'a': 5, 't': 6}, 'uc...
22      M    1950  {'nu': {'e': 36, 'l': 10, 's': 24, 'a': 11, 'n...
8       F    1960  {'kc': {'$': 1, 'o': 3}, 'nu': {'s': 14, 'e': ...
23      M    1960  {'kc': {'$': 7}, 'nu': {'e': 53, 'l': 11, 's':...
9       F    1970  {'kc': {'o': 16, '$': 5, 'a': 1}, 'nu': {'s': ...
24      M    1970  {'kc': {'$': 9, 'o': 1, 'u': 1}, 'nu': {'e': 8...
10      F    1980  {'kc': {'$': 10, 'o': 13}, 'nu': {'s': 12, 'a'...
25      M    1980  {'kc': {'$': 10, 'u': 9, 'h': 1}, 'nu': {'e': ...
11      F    1990  {'kc': {'$': 10, 'o': 2, 'e': 1}, 'nu': {'e': ...
26      M    1990  {'kc': {'$': 10, 'u': 8, 'i': 3}, 'nu': {'e': ...
12      F    2000  {'kc': {'$': 10}, 'nu': {'s': 69, 'e': 102, 'b...
27      M    2000  {'kc': {'$': 12, 'i': 1, 'u': 6}, 'nu': {'e': ...
13      F    2010  {'kc': {'$': 8}, 'nu': {'s': 89, 'e': 101, 'v'...
28      M    2010  {'kc': {'$': 10, 'u': 2, 'e': 2}, 'nu': {'e': ...
14      F    2020  {'kc': {'$': 3}, 'nu': {'r': 33, 's': 23, 'e':...
29      M    2020  {'kc': {'$': 3}, 'nu': {'e': 50, '$': 20, 's':...